<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 3 API Demo</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <div id="app">
        <div v-if="apiData">
            <h1>Liste des Aires de Covoiturage</h1>
            <ul>
                <li v-for="aire in apiData.results" :key="aire.idobj">
                    <h2>{{ aire.nom_complet }}</h2>
                    <p><strong>Commune:</strong> {{ aire.commune }}</p>
                    <p><strong>Adresse:</strong> {{ aire.adresse }}</p>
                    <p><strong>Site Web:</strong> <a :href="aire.site_web" target="_blank">{{ aire.site_web }}</a></p>
                    <p><strong>Capacité de voiture:</strong> {{ aire.capacite_voiture }}</p>
                    <p><strong>Exploitant:</strong> {{ aire.exploitant }}</p>
                    <hr>
                </li>
            </ul>
        </div>
        <div v-else>
            <p>Chargement des données...</p>
        </div>
    </div>


    <script>
        const app = Vue.createApp({
            data() {
                return {
                    apiData: null
                };
            },
            mounted() {
                axios.get('https://data.nantesmetropole.fr/api/explore/v2.1/catalog/datasets/244400404_aires-covoiturage-nantes-metropole/records?limit=20')
                    .then(response => {
                        this.apiData = response.data;
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération des données de l\'API', error);
                    });
            }
        });

        app.mount('#app');
    </script>

</body>

</html>